<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
</head>

<body>
    <div class="container">
        {{>layout}}
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-info mb-3" style="width: 200px; height:400px" >
                    <img class="card-img-top" src="/images/mbappe.png" alt="Card image cap" style="width: 200px; height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Mbappe Celebration</h5>
                        <p class="card-text">Bị sock sau khi thua chung kết World Cup 2022.</p>
                    </div>
                    <button class="btn btn-primary">Chi tiết</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 200px; height:400px">
                    <img class="card-img-top" src="/images/messi.png" alt="Card image cap" style="width: 200px; height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Lionel Messi</h5>
                        <p class="card-text">Bị sock sau khi thua chung kết World Cup 2022.</p>
                        <a class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 200px; height:400px">
                    <img class="card-img-top" src="/images/ronadol.jpg" alt="Card image cap" style="width: 200px; height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Cristiano ronaldo</h5>
                        <p class="card-text">Bị sock sau khi chủ nhà bị loại và thua Messi trong chung kết World Cup 2022.</p>
                        <a class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="row" style="margin: 30px 0">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">Nguyen Van An</h5>
                        <p class="text-muted mb-1">Bệnh nhân phòng 201 </p>
                        <p class="text-muted mb-4">Giờ số 3</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Nguyễn Văn An</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Số 15 Hàng Bài, Hoàn Kiếm, Hà Nội</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Thông tin bệnh nhân</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bị một số bệnh gì đó</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Thông tin máy thở</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Không có thông tin nhiều</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div> --}}
    </div>
</body>

</html>