<header class="p-3 mb-3 border-bottom">
<div class="container" style="margin: 0px 92px;">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="padding: 5px 25px;">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary"><b>HOME</b></a></li>
            <li><a href="/dataInfo" class="nav-link px-2 link-dark">Parameter</a></li>
            <li><a href="/workingTime" class="nav-link px-2 link-dark">Timer</a></li>
            <li><a href="/userProfile" class="nav-link px-2 link-dark">Profile</a></li>
        </ul>


        {{!-- <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div> --}}
    </div>
</div>
</header>